services:
  tif-sigma-fe:
    image: g3n1k/tif-sigma-fe
    restart: "unless-stopped"
    expose:
      - "80"
    networks:
      - shared-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    
networks:
  shared-network:
    external: true

# tunnel: rocky37_shared-network
# domain: tif-sigma.3ddm.my.id
# path: ~/workspace/tif-sigma
